# Кэш Python (компилированные файлы)
__pycache__/
*.pyc
*.pyo
*.pyd

# Локальные настройки вашей IDE (где прописаны ваши абсолютные пути)
.vscode/

*.tmp

# Системные файлы Windows
Thumbs.db
Desktop.ini
